{% load static %}
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Mon Blog{% endblock %}</title>
    <link rel="stylesheet" href= "{% static 'css/style_base.css' %}">
    
</head>
<body>
 <!-- Barre de navigation -->
<nav class="navbar">
    <div class="navbar-container">
        <a href="/" class="navbar-logo">Mon Blog</a>

        {% if user.is_authenticated %}
            <!-- Liens pour l'utilisateur connecté -->
            <ul class="navbar-links">
                <li><a href="#">Profil</a></li>
                <li><a href="{% url 'instaView' %}">Notifications</a></li>
                <li><a href="{% url 'add_post' %}">Ajouter un Post</a></li>
                <li><a href="/settings">Paramètres</a></li>
            </ul>
            <div class="navbar-user">
                <form action="{% url 'logout' %}" method="post" class="logout-form">
                    {% csrf_token %}
                    <button type="submit">Déconnexion</button>
                </form>
            </div>
        {% else %}
            <!-- Liens pour les utilisateurs non connectés -->
            <div class="navbar-auth">
                <a href="{% url 'register' %}" class="nav-link">Inscription</a>
                <a href="{% url 'login' %}" class="nav-link">Connexion</a>
            </div>
        {% endif %}
    </div>
</nav>


    <!-- Contenu principal -->
    <br>
<div class="">
    {% block content %}





       

    {% endblock %}

</div>

        <br> <br> <br> <br> <br> <br> <br> <br>
        <br> <br> <br> <br> <br> <br> <br> <br>  
    <footer>
        <p>&copy; 2024 Mon Blog. Tous droits réservés.</p>
    </footer>
 
</body>
</html>


    

   